*, 
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.form-foot {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Шапка сайта*/
.menu-flex {
    gap: 10px;
    display: flex;
}
.flex-card {
    display: flex;
   flex-wrap: wrap;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.info {
   margin: 40px 0 40px 0;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.header .container {
    display: flex;
    align-items: center;
}
.logo img {
    vertical-align: bottom;
}

.menu ul {
    display: flex;
    list-style: none;
}
.menu {
    padding-top: 10px;
}
.menu-item {
    margin-right: 115px;
    
}
 
.menu-item a {
    color: #030305;
    font-size: 15px;
    text-decoration: none;
}

.menu-item a:hover {
    border-bottom: 2px solid #030305be;
}

/* Первая секция */

.main {
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}

.container {
    padding-top: 10px;
}
.img_1 {
    align-items: center;
    display: flex;
}

.img_1 img {
    width: 600px;
}
.flex {
    gap: 260px;
}
.main-info {
    max-width: 855px;
    margin-top: 100px;
}

.main-title {
    font-weight: bold;
    font-size:80px ;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
}

.main-text {
    color: #030305;
    max-width: 502px;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 40px;
}

.button {
    width: 334px;
    height: 64px;
    background-color: #030305;
    padding: 20px;
    border: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
    transition: background-color .5s;
}

.button:hover {
    background-color: #575757;
    cursor: pointer;
}

/* Вторая секция */
.car {
    padding: 100px 0;
}
.sub-title {
    font-size: 60px;
    font-weight: bold;
    color: #030305;
    line-height: 70%;
}
.car-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}                                         

.car-item {
    max-width: 384px;
    text-align: center;
    margin-top: 40px;
}
.car-item-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    color: #030305;
    padding: 15px 0 17px 0;
}
.icons-img {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 13px;
}
.icon-text {
    font-size: 16px;
}

.icon-text-bott {
    font-size: 16px;
    margin-bottom: 13px;
}
.car-item-action .button {
    padding: 15px;
    height: 54px;
    width: 100%;
}

.car-item-img:hover img {
    transform: scale(1.1);
}
.car-item-img img {
    vertical-align: bottom;
    transition: all .3s;
}
/* Третья секция */

.price {
    overflow: hidden;
}
.price .container {
    position: relative;
    padding-bottom: 121px;
}

.price .sub-title {
    margin-bottom: 35px;
}

.price-text {
    font-size: 16px;
    color: #5D5D5F;
    line-height: 130%;
    margin-bottom: 60px;
}

.price-form {
    max-width: 344px;
}

.price-input {
    padding: 22px 18px;
    width: 344px;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid #5D5D5F;
    font-size: 16px;
    color: #000000;
    outline: none;
    box-sizing: border-box;
}
.price-input::placeholder {
    color: #5D5D5F;
}

.price .button {
    width: 100%;
}

.price-img {
    position: absolute;
    bottom: 0;
    left: 401px;
}

/* подвал */

.rights {
    font-size: 15px;
    color: #030305
}

.footer {
    border-bottom: 1px solid #E5E5E5 ;
    padding: 25px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
